<a href="https://colab.research.google.com/github/vmadalasa/END/blob/main/END3/END_Session3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Imports
from functools import reduce, partial
import math
import operator
import random
import re
from urllib.request import urlopen

In [2]:
# Q.1: Write a function using only list filter lambda that can tell whether a number is a Fibonacci 
#      number or not. You can use a pre-calculated list/dict to store fab numbers till 10000
def fab_checker(num=int)->bool:
    '''
    This function checks if the number provided is a number in Fibonacci series
    The input should be a positive integer less than 10,000. The function returns True or
    False indicationg whether a the number provided is a number in Fibonacci series
    '''
    if num>10000:
        raise ValueError("The function doesn't check for numbers above 10,000")

    fab = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]
    num_list=[num]
    return bool((list(filter(lambda x: True if x in fab else False,num_list))))

In [3]:
fab_checker(8)

True

In [4]:
# Q2.a. Using list comprehension (and zip/lambda/etc if required) write an expression that
#       add 2 iterables a and b such that a is even and b is odd
def add_iter_even_odd(in_list1 = list, in_list2 = list)->list:
    '''
    This function adds 2 iterables a and b such that a is even and b is odd
    The input should be a list of numbers.
    The function returns list with addition as per the above mentioned rule
    '''
    final_list = list(filter(None,[a+b if a%2==0 and b%2!=0 else 0 for a,b in zip(in_list1,in_list2)]))
    return final_list

In [5]:
a = [1,2,3]
b = [4,5,6]
add_iter_even_odd(a,b)

[7]

In [6]:
# Q2.b. Using list comprehension (and zip/lambda/etc if required) write an expression that
#       strips every vowel from a string provided (tsai>>t s)
def vowel_remover(in_str = str)->str:
    '''
    This function strips every vowel from a string provided
    The input should be any string.
    The function returns string without any vowels
    '''
    if not isinstance(in_str,str):
        raise TypeError("Only strings allowed as input")

    pure_list = [x for x in in_str if x not in ('a','e','i','o','u')]
    return " ".join(pure_list)

In [7]:
vowel_remover("abcdefghi")

'b c d f g h'

In [8]:
# Q2.c. Using list comprehension (and zip/lambda/etc if required) write an expression that
#       acts like a ReLU function for a 1D array
def relu(in_list = list)->list:
    '''
    This function that applies ReLU function to each elements of the provided list
    The input should be a list of numbers.
    The function returns list with ReLU output for each of the elements of the list
    '''
    final_list = [0 if x < 0 else x for x in in_list]
    return final_list

In [9]:
relu([1,2,-3,4,-5.5])

[1, 2, 0, 4, 0]

In [10]:
# Q2.d. Using list comprehension (and zip/lambda/etc if required) write an expression that
#       acts like a Sigmoid function for a 1D array
def sigmoid(in_list = list)->list:
    '''
    This function that applies Sigmoid function to each elements of the provided list
    The input should be a list of numbers.
    The function returns list with Sigmoid output for each of the elements of the list
    '''
    final_list = [round(1/(1+math.exp(-x)),2) for x in in_list]
    return final_list

In [11]:
sigmoid([1,2,-3,4,-5.5])

[0.73, 0.88, 0.05, 0.98, 0.0]

In [12]:
# Q2.d. Using list comprehension (and zip/lambda/etc if required) write an expression that
#       takes a small character string and shifts all characters by 5 (handle boundary conditions)
def char_shifter(in_str = str)->str:
    '''
    This function shifts all characters by 5 for a string provided
    The input should be any string.
    The function returns string with all characters shifted by 5
    '''
    if not isinstance(in_str,str):
        raise TypeError("Only strings allowed as input")

    pure_list = [chr(ord(x)+5) if ord(x)<117 else chr(ord(x)-21) for x in in_str]
    return "".join(pure_list)

In [13]:
char_shifter("abcdwxyz")

'fghibcde'

In [14]:
# Q3 - A list comprehension expression that takes a ~200 word paragraph, and checks whether it has
#      any of the swear words mentioned in 'resources/profane_words.txt'
def profanity_checker(in_str = str)->str:
    '''
    This function checks checks whether it has any of the swear words mentioned
    in 'resources/profane_words.txt'
    The input should be any paragraph as a single string.
    The function returns True or False indicationg whether there is profanity in the paragraph 
    '''
    if not isinstance(in_str,str):
        raise TypeError("Only strings allowed as input")

    str_list = re.split(r'[\s,.!;]+', in_str)
    url = "https://raw.githubusercontent.com/RobertJGabriel/Google-profanity-words/master/list.txt"
    file = urlopen(url)
    profane_data = [line.decode("utf-8").strip(' ').split('\n')[0] for line in file.readlines()]
    return reduce(lambda a,b: bool(a) or bool(b),[True if x.lower() in profane_data else False for x in str_list])

In [15]:
test_string = '''
Oh 5hit, there is something wrong with this paragraph.
There are many methodologies that deal with the portion of CLV associated with direct purchases, but the two most broad classes are generally defined as historical and predictive CLV. Historical methods look at past data and make a judgment on the value of customers solely based on past transactions, without any attempt to predict what those customers will do next.
In principle, this is a valid approach if the customers behave similarly and have been interacting with the company for roughly the same amount of time. However, there’s generally a fair amount of heterogeneity among customers. Typical historical approaches will apply a recency of last purchase criterion to distinguish between active and inactive users. Average past purchase behavior is employed to measure the relative (or in some cases, absolute) value of customers.
However, there are several problems with such methodologies. For example, the first customer in the chart above has made more purchases than the second customer, but in fact, the first customer is more likely to be inactive than the second one. Value based on past averages would claim that the first customer is more valuable — yet the second customer is still active and could make many more purchases in the future. Methods that account for variation in the behavior of customers will allow us to arrive at more accurate conclusions about customer lifetime and purchase behavior.
'''
profanity_checker(test_string)

True

In [16]:
# Q4.a. Using reduce function - add only even numbers in a list
def even_adder(in_list = list)->list:
    '''
    This function that adds only even numbers in the provided list
    The input should be a list of numbers.
    The function returns sum of even numbers in the provided list
    '''
    final_num = reduce(lambda a,b: a+b if a%2==0 and b%2==0 else (b if a%2!=0 and b%2==0 else (a if a%2==0 and b%2!=0 else 0)),in_list)
    return final_num

In [17]:
even_adder([1,2,3,4,5,6])

12

In [18]:
# Q4.b. Using reduce function - find the biggest character in a string (printable ascii characters)
def biggest_character(in_str = str)->str:
    '''
    This function finds the biggest character in a string (printable ascii characters)
    The input should be a string containing printable ascii characters.
    The function returns the biggest character in the provided string
    '''
    if not isinstance(in_str,str):
        raise TypeError("Only strings allowed as input")

    final_char = reduce(lambda a,b: a if ord(a)>ord(b) else b,in_str)
    return final_char

In [19]:
biggest_character("abcd!ABCD|")

'|'

In [20]:
# Q4.c. Using reduce function - adds every 3rd number in a list
def alt_adder(in_list = list)->list:
    '''
    This function that adds every 3rd number in the provided list
    The input should be a list of numbers.
    The function returns sum of every 3rd number in the provided list
    '''
    final_num = reduce(lambda a,b: a if in_list.index(b)%2!=0 else a+b,in_list)
    return final_num

In [21]:
alt_adder([1,2,3,4,5,6])

9

In [22]:
# Q5. Using randint, random.choice and list comprehensions, write an expression that 
#     generates 15 random KADDAADDDD number plates, where KA is fixed, D stands for a digit
#     and A stands for Capital alphabets. 10<<DD<<99 & 1000<<DDDD<<9999
def num_plate_generator()->list:
    '''
    This function that generates 15 random number plates starting with KA (for Karnataka)
    The function doesn't take any input
    The function returns list of 15 random number plates starting with KA
    '''
    num = ['KA' + str(a) + str(b1) + str(b2) + str(c) for a,b1,b2,c in zip(random.sample(list(range(10,100)),15),
                                                                random.sample(list(map(chr,(range(65,91)))),15),
                                                                random.sample(list(map(chr,(range(65,91)))),15),
                                                                random.sample(list(range(1000,10000)),15))]
    return num

In [23]:
num_plate_generator()

['KA72JR3780',
 'KA42RU8618',
 'KA52IA5299',
 'KA81KJ6257',
 'KA61SQ1190',
 'KA68TB2960',
 'KA38YX8571',
 'KA92HG6813',
 'KA11UH4757',
 'KA90MW8148',
 'KA93QI7764',
 'KA10GK3153',
 'KA48AS4722',
 'KA60BF3152',
 'KA89VD4322']

In [24]:
# Q6.a. Write the above again from scratch where KA can be changed to DL
#       and 1000/9999 ranges can be provided.
def num_plate_generator_2(num_start=int,num_end=int,state_code=str)->list:
    '''
    This function that generates 15 random number plates for the state code provided
    and the vehicle number between the range provided
    The function takes 3 inputs:
        num_start: The least number allowed as vehicle number
        num_end: The highest number allowed as vehicle number
        state_code: Code of the state for which the number plate is to be generated
    The function returns list of 15 random number plates based on the inputs
    '''
    if not isinstance(num_start,int):
        raise TypeError("Only integeres allowed as minimum number")

    if not isinstance(num_end,int):
        raise TypeError("Only integeres allowed as maximum number")

    if not isinstance(state_code,str):
        raise TypeError("Only strings allowed as input")

    if state_code not in ['AN','AP','AR','AS','BR','CG','CH','DD','DL','GA','GJ','HP','HR','JH','JK','KA','KL','LA','LD','MH','ML','MN','MP','MZ','NL','OD','PB','PY','RJ','SK','TN','TR','TS','UK','UP','WB']:
        raise ValueError("Only following State codes are allowed: AN, AP, AR, AS, BR, CG, CH, DD, DL, GA, GJ, HP, HR, JH, JK, KA, KL, LA, LD, MH, ML, MN, MP, MZ, NL, OD, PB, PY, RJ, SK, TN, TR, TS, UK, UP, WB")

    if len(state_code)!=2:
        raise ValueError("State code must have only 2 characters")

    num = [state_code + str(a) + str(b1) + str(b2) + str(c) for a,b1,b2,c in zip(random.sample(list(range(10,100)),15),
                                                                random.sample(list(map(chr,(range(65,91)))),15),
                                                                random.sample(list(map(chr,(range(65,91)))),15),
                                                                random.sample(list(range(num_start,num_end+1)),15))]
    return num

In [25]:
num_plate_generator_2(2500,3500,'AS')

['AS60CX2938',
 'AS54XO3023',
 'AS97DZ3303',
 'AS18TH2658',
 'AS55NW2892',
 'AS82EU2902',
 'AS15GT3106',
 'AS45HP2507',
 'AS88SR2606',
 'AS24AN3455',
 'AS27ZJ3415',
 'AS50OQ3211',
 'AS26VV3110',
 'AS64QE3147',
 'AS29LI2768']

In [26]:
num_plate_generator_2(2500,3500,'KS')

ValueError: ignored